* {
    border-radius: 0 !important;
}


h5, h4, h3, h2, h1, .card-img-overlay{
    font-family: 'Lato', sans-serif;
}
hr {
    border-top: 1px solid black;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.card, .img-thumbnail {
    border: 0;
   
}

.card-header {
    border: none;
    background-color: inherit;
    
}
.card-title  {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Homemade Apple', cursive;
    text-transform: lowercase;
    font-size: 50px;
}
/****BUTTONS*****/

/*****************/
/**JUMBOTRON AND GENERAL STYLING**/
.jumbotron-header {
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     
     background-repeat: no-repeat;
     background-size: cover;
}

/**JUMBOTRON AND GENERAL STYLING**/
.jumbotron-header {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
    ), url("Images/main_background.jpg");

    min-height: 800px;

    background-position: left;
   
    
}
.j-title {
    padding: 40px 30px 0 35px;
    text-transform:uppercase;
    font-family: 'Crimson Text', serif;
    position: absolute;

    top: 35%;/*230px;*/
    left:  25%;/*330px;*/

    height: 200px;
    width: 300px;

    font-size: 80px;
    z-index: 2;
    background-color: white;
    color: black;
   
}
.j-text {
    padding: 50px 30px 0 90px;
    
    position: absolute;

    top: 28%;/*190px;*/
    left: 43.5%; /*560px;*/
    width: 445px;
    height: 300px;

    
    z-index: 1;
    background-color: #265999;
    color: white;
}
.j-text-info {
    font-family: 'Homemade Apple', serif;
    font-size:40px;
}
.j-text:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
}
.j-title:hover {
    transition: 0.5s;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
            ), url("Images/larger-logo.png");
    background-size: 110%;
    background-position: center;


}
.margin-up {
    margin-top: 3px;
}
.down-arrow {
    position:relative;
    top: 600px;
}
/******THIS IS  USED  FOR  FOOOOOOOOOOOOOTERRRRRRR*/
.jumbotron {
    border-radius: 0 !important;
    background-color: #4488BF;
    
}
.large-paragraph {
    font-size: 125%;
}
.img-thumbnail {
    background-color: #1F283D;
}
/***************************/
/*****NAVBAR  STYLE****/
.jumbotron .nav-link {
    text-transform: uppercase;
    color: #265999;
    font-weight: bold;
}
.jumbotron .active {
    border-bottom: 3px solid white;
}
.jumbotron .nav-link:hover {
    border-bottom: 3px solid white;
}
/**************************/
/****FOOTER CODE***/

.footer-bs a {
    color: white;
}
footer h3 {
    font-family: 'Crimson Text', serif;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px}

.footer-bs .footer-nav ul.pages {  list-style:none; padding:0px}
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list {  font-family: 'Crimson Text', serif; list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a:hover { text-decoration:none; }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
footer {
    color: white !important;
}

footer .social-link {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

nav .social-link {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #507303;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    margin-left: 10px;
}

.social-link:hover,
.social-link:focus {
    background: transparent;
    text-decoration: none;
    color: black;
}
/*****************/
/**BUTTON CODE*******/
   
.btn {
    display: inline-flex ;
    height: 40px;
    padding-right: 25px;
    padding-left: 25px;
    text-transform: uppercase ;
    text-decoration: none ;
    font-size: .8em ;
    letter-spacing: 1.5px ;
    align-items: center ;
    justify-content: center ;
    overflow: hidden ;
    border-radius: 0 ;
    border: 2px solid inherit;
}
.btn-link {
    text-decoration: none;
    color: black;
}
.btn-link:hover{
    text-decoration: none;
    color: black;
}
/************************/