<!DOCTYPE html>
<html>
    <head>
        <title>Use</title>

        <link rel="icon" href="static/Images/eluo-logo.png">
            
        <!--Imported Bootstrap styles-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Link to all fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Homemade+Apple&family=Lovers+Quarrel&family=Lato&family=Antic+Slab&family=Sacramento&family=Titillium+Web:wght@600&family=Crimson+Text&family=Poppins&family=Cedarville+Cursive&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Barlow&display=swap" rel="stylesheet">

        <!--Icons-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <!--Link to main stylesheet-->
        <link type="text/css"  href="static/main.css" rel="stylesheet">
        <style>
            /**JUMBOTRON AND GENERAL STYLING**/
            
            .section-title {
                margin-bottom: 20px;
            }
            /*****************/
      
            /**CARD STYLES CSS**/
                .card-dark-gold{ background-color: #CA9703; } 
                .card-light-gold { background-color: #D5AD36; color: white; } 
                .card-lighter-gold { background-color: #e7c86b; color: white; } 
                .card-cream { background-color: #c3d8fb; color: black;} /*LIGHT GREEN */
                .card-light-blue { background-color: #4488BF; color: white; } /*ORANGE*/
                .card-dark-blue { background-color: #265999; color: white;} /*ORANGE*/
            .special-icon:hover, .special-icon {
                color: black;
            }
            .j-title:hover {
                background: white;
            }
            
          </style> 
    </head>
<body>

    <div class = "jumbotron text-center jumbotron-header"style ="padding-top:20px; margin-bottom:3px;" > 
        
        <!--NAVIGATION BAR-->
        <nav class="navbar navbar-expand-md" style ="padding-top:0px;">
            <div class="mx-auto d-block flex-wrap">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" href="../">Home</a>
                </li>
                
                <li class="nav-item ">
                    <a class="nav-link" href="upload" >Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>

                </ul>
            </div>
            </div>
        </nav>
          
        <!--BOX ON THE RIGHT OF JUMBOTRON-->
        <div class = "shadow-lg jumbotron-content j-text">
            <span class = "j-text-info">contact us to reach out </span><br>
            <a href="../" style = "margin-top: 30px" class="btn btn-lg btn-outline-light">home</a>
        </div>
        <!--BOX ON THE LEFT OF JUMBOTRON-->
        <div class = "shadow-lg jumbotron-content j-title"><a href="#" class="social-link special-icon"><i class="fas fa-envelope fa-lg"></i></a></div>
            
        <!--DOWN ARROW ON JUMBOTRON-->
        <img src = "static/Images/down-arrow.png" width = "40" class = "down-arrow img-fluid">
        
    </div>
    
    <div class  = "container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemLbEuI4LZs-sHBbWFCbBkLUBxefrr8lBcI3avs1t9zqO9og/viewform?embedded=true" width=100% height=700 frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    
    <footer class="jumbotron footer-bs margin-up">
        <div class="container">
            <div class = "row">
            <div class="col-md-3 footer-nav">
                
                    <ul class="pages">
                        <li><a href="">Home</a></li>
                        <li><a href="upload">Use</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
            </div>
            <div class="col-md-6 footer-brand">
            <a href="#"> <img id="logo" alt="Logo" src="static/Images/eluo-logo.png" width="60" height="60"> <span style ="max-width: 70%; font-family: 'Crimson Text', serif; font-size: 170%">Eluo</span> </a> 
            
                <p>Eluo is an organization committed to helping consumers
                    remain aware  of the contents of their personal care products.
                    All rights reserved. 
                    <!--<h5><a style = "font-family: 'Lato'; text-decoration: none" href= "#">
                        Copyright © 2021 by Eluo </a> </h5>-->
                </p>
            </div>
            
            <div class = "col-md-2 row ">
            <ul class="social list-inline">
                    
                <li class="list-inline-item"><a href="mailto:liu0888@mydusd.com" class="social-link"><i class="fas fa-envelope fa-2x"></i></a></li>
                <!--<li class="list-inline-item"><a href="https://www.instagram.com/dhs.girlsmathassociation/" class="social-link"><i class="fab fa-instagram fa-3x"></i></a></li>-->
               
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-share fa-2x"></i></a></li>
                
            </ul>
            </div>
                   
            </div>
    </footer>

</body>
</html>
